app/node_modules
.vscode
entregas
# Ignorar bases de datos locales
qdrant_data/
n8n_data/
ollama_data/
results/
consulta/
# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
AGENTS.md
generador_hc_desde_CIF*
qdrant_data/# pixi environments
.pixi/*
!.pixi/config.toml
